:root {
  --white: #ffffff;
  --grey: #c4c4c4;
  --accent: #2196f3;
  --accent--active: #188ce8;
  --text-color--dark: #212121;
  --text-color--bright: #ffffff;
  --text-color--accent: #2196f3;
  --secondary-text-color: #757575;
  --bg-color--bright: #ffffff;
  --bg-color--dark: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --bg-color--backdrop: rgba(0, 0, 0, 0.2);
  --icon-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team, .services, .section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-color--bright);
}

.footer__container, .header__container, .section__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--text-color--dark);
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.hero__button, .callback-form__button--submit, .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent);
  color: var(--text-color--bright);
  transition: background-color var(--transition-dur-and-func);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero__button:hover, .callback-form__button--submit:hover, .button:hover, .hero__button:focus, .callback-form__button--submit:focus, .button:focus, .hero__button:active, .callback-form__button--submit:active, .button:active {
  cursor: pointer;
  background-color: var(--accent--active);
}

.logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__accent {
  color: var(--accent);
}
.logo--footer {
  color: inherit;
}

.navigation {
  display: flex;
  justify-content: baseline;
  align-items: center;
  column-gap: 93px;
}

.nav-menu {
  display: flex;
  column-gap: 50px;
}

.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-dur-and-func);
  color: var(--text-color--dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-menu__link:visited, .nav-menu__link:active {
  color: var(--text-color--dark);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--text-color--accent);
}

.nav-menu__link--current,
.nav-menu__link--current:visited {
  position: relative;
  color: var(--text-color--accent);
}

.nav-menu__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
}

.contacts {
  display: flex;
  column-gap: 50px;
}

.contacts__link {
  display: flex;
  justify-content: baseline;
  align-items: center;
  column-gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-dur-and-func);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contacts__link:link, .contacts__link:visited {
  color: var(--secondary-text-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--text-color--accent);
}

.contacts__icon {
  fill: currentColor;
}

.service-pannel {
  display: flex;
  justify-content: space-between;
}

.service-pannel__item {
  position: relative;
}

.service-pannel__description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.service-pannel__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color--bright);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
}

.employee {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.employee__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--bg-color--bright);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.employee__description {
  margin-top: 0;
  margin-bottom: 16;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials__item {
  display: flex;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
  background-color: transparent;
  color: var(--icon-color);
  border-radius: 50%;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent);
  color: var(--white);
}

.socials__icon {
  fill: currentColor;
}

.socials__link--dark {
  transition: background-color var(--transition-dur-and-func);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
}
.socials__link--dark:hover, .socials__link--dark:focus {
  background-color: var(--accent);
}

.filter__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  background-color: var(--secondary-bg-color);
  color: var(--text-color--dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.filter__label:hover, .filter__label:focus, .filter__input:checked + .filter__label {
  background-color: var(--accent);
  color: var(--text-color--bright);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.2;
}

.address__link--location {
  color: var(--text-color--bright);
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.subscribe-form__input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  transition: border var(--transition-dur-and-func);
  outline: none;
  background-color: transparent;
  color: var(--text-color--bright);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe-form__input:focus {
  border: 1px solid var(--accent);
}
.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button--subscribe {
  gap: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.button__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--bg-color--backdrop);
  opacity: 1;
  transition: opacity var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-dur-and-func), opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  padding: 40px;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--bg-color--bright);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  transition: color var(--transition-dur-and-func);
  color: #000;
  background-color: var(--bg-color--bright);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-button:hover,
.close-button:focus {
  cursor: pointer;
  color: var(--text-color--accent);
}

.close-button__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.callback-form {
  text-align: center;
}

.callback-form__title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.callback-form__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.callback-form__field {
  position: relative;
  display: block;
}

.callback-form__label {
  display: block;
  text-align: start;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.callback-form__input {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 11px;
  width: 100%;
  outline: none;
  transition: border var(--transition-dur-and-func);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--text-color--dark);
}
.callback-form__input:focus {
  border: 1px solid var(--accent);
}
.callback-form__input::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: color var(--transition-dur-and-func);
  display: inline-block;
  width: 18px;
  height: 18px;
  color: var(--text-color--dark);
  fill: currentColor;
}
.callback-form__field:focus-within > .callback-form__icon {
  color: var(--text-color--accent);
}

.callback-form__field--comment {
  margin-bottom: 20px;
}

.callback-form__input--textarea {
  resize: none;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  height: 120px;
}

.callback-form__field--policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
  background-color: var(--bg-color--bright);
  border: 2px solid var(--text-color--dark);
  border-radius: 2px;
}
.callback-form__checkbox:checked + .checkbox {
  background-color: var(--accent);
  border: none;
}

.callback-form__checkbox-label {
  user-select: none;
  font-size: 14px;
  line-height: 1.714;
  color: var(--secondary-text-color);
}

.callback-form__checkbox-link {
  text-decoration-line: underline;
  color: var(--text-color--accent);
}

.callback-form__button--submit {
  display: inline-block;
  padding-left: 52px;
  padding-right: 52px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: var(--bg-color--bright);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--grey);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

/* heading */
.hero__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 696px;
  color: var(--text-color--bright);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */
.hero__button {
  display: inline-block;
  padding-right: 32px;
  padding-left: 32px;
  min-width: 216px;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features__item {
  max-width: 270px;
}

.features__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.features__description {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.services {
  padding-top: 0;
}

.team {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: color var(--transition-dur-and-func), border var(--transition-dur-and-func);
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent);
  border: 1px solid var(--accent);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
  background-color: var(--bg-color--bright);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__description {
  display: block;
  padding: 24px;
  margin: 0;
  color: var(--text-color--bright);
  font-size: 18px;
  line-height: 1.555;
}

.portfolio__meta {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--text-color--dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color--dark);
  color: var(--text-color--bright);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__left {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 70px;
}

/* TITLES */
.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

/* LOGO */
.logo--footer {
  color: inherit;
}/*# sourceMappingURL=main.css.map */