// * CLIENTS *

.clients {
  @include centeredFlex();
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  @include centeredFlex();
  width: 100%;
  height: 100%;

  transition: color var(--transition-dur-and-func),
    border var(--transition-dur-and-func);

  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: var(--accent);
    border: 1px solid var(--accent);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}
