// * "НАШІ ПЕРЕВАГИ" SECTION *

// gallery
.features {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
}

// thumb
.features__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    max-width: calc((100% - 90px) / 4);
  }
}

// picture
.features__pic {
  @include centeredFlex();
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);

  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

// meta
.features__title {
  margin-bottom: 10px;

  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__description {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.714;
}
