// * Header *

.header {
  background-color: var(--bg-color--bright);
  border-bottom: 1px solid #ececec;
}

.header__container {
  @include centeredFlex($justify-content: space-between);

  max-width: var(--bp-mobile);
  padding-left: 15px;
  padding-right: 15px;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: var(--bp-tablet);

    padding-top: 0;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    @include centeredFlex(
      $justify-content: space-between,
      $align-items: baseline
    );

    max-width: var(--bp-desktop);
  }
}

.header__button {
  @include centeredFlex();

  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;

  color: var(--text-color-dark);

  // .header__mobile-container & {
  //   position: absolute;
  //   top: 10px;
  //   right: 15px;
  // }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__button--close {
  position: absolute;
  top: -30px;
  right: -25px;
}

.js-close-menu:hover,
.js-close-menu:focus {
  color: var(--accent);
}

.header__icon {
  fill: currentColor;
}

.header__nav-container {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: var(--bg-color--bright);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    &.is-open {
      transform: translateX(0);
    }
  }
}

.header__wrapper {
  @media screen and (max-width: 767px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 64px;

    width: 100%;
    height: 100%;
    padding-top: 8px;
  }
  @media screen and (min-width: 768px) {
    @include centeredFlex($justify-content: space-between);
    gap: 96px;
  }

  @media screen and (min-width: 1200px) {
    gap: 315px;
  }
}
