// * PORTFOLIO *

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
}

.portfolio__link {
  display: block;

  transition: box-shadow var(--transition-dur-and-func);

  background-color: var(--bg-color--bright);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__thumb {
  position: relative;

  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  @include centeredFlex();

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);

  background-color: rgba(33, 150, 243, 0.9);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}

.portfolio__description {
  display: block;
  padding: 24px;
  margin: 0;

  color: var(--text-color--bright);

  font-size: 18px;
  line-height: 1.555;
}

.portfolio__meta {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--text-color--dark);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
}
