// * "НАША КОМАНДА" SECTION *

.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);

  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
