// * "НАША КОМАНДА" SECTION *

// .team {
//   @extend %section;

//   background-color: var(--secondary-bg-color);

//   text-align: center;
// }

.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);

  text-align: center;
}
