// * ADDRESS *

.address {
  margin-top: 20px;

  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.2;
}

.address__link--location {
  color: var(--text-color--bright);
}
