// * ADDRESS *

.address {
  margin-top: 20px;
  margin-bottom: 60px;

  font-style: normal;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

// .address__item:not(:last-child) {
//   margin-bottom: 9px;
// }

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

// .address__link {
//   color: rgba(255, 255, 255, 0.6);

//   font-size: 14px;
//   line-height: 1.2;
// }

.address__link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.714;
}

.address__link--location {
  color: var(--text-color--bright);
}
