// * Header Contacts *

// .contacts {
//   display: flex;
//   column-gap: 50px;
// }

.contacts {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    row-gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    column-gap: 50px;
  }
}

.contacts__link {
  @media screen and (min-width: 768px) {
    @include centeredFlex($justify-content: baseline);
    column-gap: 8px;

    transition: color var(--transition-dur-and-func);

    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    &:link,
    &:visited {
      color: var(--secondary-text-color);
    }

    &:hover,
    &:focus {
      color: var(--text-color--accent);
    }
  }
}

.contacts__link--tel {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;

    color: var(--text-color--accent);
  }
}

.contacts__link--mail {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
  }
}

.contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  fill: currentColor;
}
