// * FILTER NAVIGATION *

.filter__list {
  @include centeredFlex();
  gap: 8px;

  margin-bottom: 50px;
}

.filter__label {
  @include centeredFlex();

  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  cursor: pointer;

  border-radius: 4px;
  border: 0;
  background-color: var(--secondary-bg-color);
  color: var(--text-color--dark);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  &:hover,
  &:focus,
  .filter__input:checked + & {
    background-color: var(--accent);
    color: var(--text-color--bright);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
