// * LOGO *

// .logo {
//   color: #000;

//   font-family: "Raleway", sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.166;

//   &__accent {
//     color: var(--accent);
//   }

//   &--footer {
//     color: inherit;
//   }
// }

.logo {
  color: #000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;

  &__accent {
    color: var(--accent);
  }

  &--footer {
    color: inherit;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}
