.logo {
  color: #000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  &__accent {
    color: var(--accent);
  }

  &--footer {
    color: inherit;
  }
}
