.nav-menu {
  display: flex;
  column-gap: 50px;
}

.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition-dur-and-func);

  color: var(--text-color--dark);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  &:visited,
  &:active {
    color: var(--text-color--dark);
  }

  &:hover,
  &:focus {
    color: var(--text-color--accent);
  }
}

.nav-menu__link--current,
.nav-menu__link--current:visited {
  position: relative;

  color: var(--text-color--accent);
}

.nav-menu__link--current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent);
}
