// * SUBSCRIBE FORM *

// form
.subscribe-form {
  @include centeredFlex();
  gap: 12px;
}

// input
.subscribe-form__input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  transition: border var(--transition-dur-and-func);
  outline: none;

  background-color: transparent;
  color: var(--text-color--bright);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  &:focus {
    border: 1px solid var(--accent);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

// submit button
.button--subscribe {
  gap: 10px;

  padding-left: 28px;
  padding-right: 28px;
}

.button__icon {
  fill: currentColor;
}
