.section {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color--bright);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__container {
  max-width: var(--bp-mobile);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: var(--bp-tablet);
  }
  @media screen and (min-width: 1200px) {
    max-width: var(--bp-desktop);
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.2;
  }
}
