.section {
  @extend %section;
}

.section__container {
  @extend %container;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
