:root {
  // * COLORS *
  --white: #ffffff;
  --grey: #c4c4c4;
  --accent: #2196f3;
  --accent--active: #188ce8;

  // text
  --text-color--dark: #212121;
  --text-color--bright: #ffffff;
  --text-color--accent: #2196f3;
  --secondary-text-color: #757575;

  // background
  --bg-color--bright: #ffffff;
  --bg-color--dark: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --bg-color--backdrop: rgba(0, 0, 0, 0.2);

  // icon
  --icon-color: #afb1b8;

  // * TRANSITIONS *
  //duration and function
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
